streamlit

langchain==0.1.20
langchain-community
langchain-core==0.1.52
langchain-text-splitters==0.0.2

langchain_chroma
langchain_groq
langchain_huggingface==0.0.3

chromadb==0.4.24

newspaper3k
requests
python-dotenv
sentence-transformers
